<div class="main"> 
    <h2>Employee Details</h2>
    {{ message }}
    <!-- <p>To add a new Employee: <button type="button" onclick="location.href='https://localhost-sheweta-sabhnani-1.paiza-user-free.cloud:8000/'">New</button> -->
<!--     </p> -->
<a href="https://google.com" class="button">Go to Google</a>
	<table>
    <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Email</th>
    </tr>
     {% for data in dataset %}. 
        <tr>
    <td>{{ data.firstname }}</td>
    <td>{{ data.lastname }}</td>
    <td>{{ data.email }}</td>
     <td><button type="button">Update</button></td>
      <td><button type="button">Delete</button></td>
  </tr>

	{% endfor %} 
    </table>
</div> 
